@import "tailwindcss";

:root{

    --background:#07131F;

    --foreground:#ffffff;

    --glass:rgba(255,255,255,.15);

}

*{

margin:0;

padding:0;

box-sizing:border-box;

scroll-behavior:smooth;

}

html{

scroll-behavior:smooth;

}

body{

background:#07131F;

background-image:

radial-gradient(circle at top,#4A90E2 0%,transparent 40%),

radial-gradient(circle at bottom,#6EC1FF 0%,transparent 35%);

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#4A90E2;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#07131F;

}

.petal {
  position: absolute;
  top: -100px;
  opacity: 0.8;
  animation: fall linear infinite;
  will-change: transform;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }

  25% {
    transform: translate(-20px, 30vh) rotate(90deg);
  }

  50% {
    transform: translate(20px, 60vh) rotate(180deg);
  }

  75% {
    transform: translate(-15px, 85vh) rotate(270deg);
  }

  100% {
    transform: translate(10px, 110vh) rotate(360deg);
  }
}